@use "global" as *;

.sub-contact {
  margin-top: rem(106);
  @include mq("md") {
    margin-top: rem(144);
  }
}

.sub-contact-sitemap {
  margin-top: rem(62);
  @include mq("md") {
    margin-top: rem(36);
  }
}
