@use "global" as *;


.page-voice  {
  position: relative;
}

.page-voice::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: rem(-32);
  left: calc(50% - min(48.7vw, 40rem));
  width: 100%;
  max-width: rem(120);
  height: rem(55);
  background-image: url(../images/common/pp-sp.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @include mq("md") {
    top: rem(-72);
    left: calc(50% - min(48.7vw, 40rem));
    max-width: rem(301);
    height: rem(138);
    background-image: url(../images/common/pp-pc.png);
  }
}

// .page-voice__inner {
//   width: 100%;
//   max-width: rem(400);
//   @include mq("md") {
//     max-width: $inner;
//   }
// }

.page-voice__cards {
	margin-top: rem(40);
}

.page-voice__tab li.active, 
.page-voice__tab li:hover {
	background-color: $green;
	color: $white;
}

.page-voice__tab li.active:after, 
.page-voice__tab li:hover:after {
	display: block;
}