@use "global" as *;

.voice-card-mini__img {
  width: 100%;
}

.voice-card-mini__img img {
  aspect-ratio: 294 / 218;
  object-fit: cover;
}

.voice-card-mini__category {
  font-size: rem(12);
  line-height: calc(18 / 12);
  margin-top: rem(16);
}

.voice-card-mini__title {
  font-size: rem(24);
  font-weight: $medium;
  margin-top: rem(8);
}

